.form-group
  label(for="title") Title
  input.form-control(type="text", id="title", name="title", value=article.title, required)

.form-group
  label(for="content") Content
  textarea.form-control(id="content", name="content", required)= article.content

.form-group
  label(for="author") Author
  select.form-control(id="author", name="author", required)
    option(value="") Select an Author
    each user in users
      option(value=user._id selected=(article.author && article.author.equals(user._id)))= user.name

.form-group.mt-3
  a.btn.btn-secondary.mr-2(href="/articles") Cancel
  button.btn.btn-primary(type="submit") Save
