.form-group
  label(for="title") Title
  input.form-control(type="text", id="title", name="title", required)

  .form-group
  label(for="description") Description
  textarea.form-control(id="description", name="description", required)


  .form-group
  label(for="markdown") Markdown
  textarea.form-control(id="markdown", name="markdown", required)

  .form-group.mt-3
  a.btn.btn-secondary.mr-2(href="/articles") Cancel
  button.btn.btn-primary(type="submit") Save
