doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Users
  body
    .container
      h1.mb-4 Users
      a.btn.btn-success(href="/users/new") New User
      each user in users
        .card.mt-4
          .card-body
            h4.card-title= user.name
            .card-subtitle.text-muted.mb-2= user.email
            a.btn.btn-info.mr-2(href=`/users/edit/${user._id}`) Edit
            form(action=`/users/${user._id}?_method=DELETE`, method="POST", class="d-inline")
              button.btn.btn-danger(type="submit") Delete
